.homeScrollBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 15px;
  text-align: center;
  background-color: #aa0000;
  color: white;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-weight: normal;
  position: relative;
  white-space: nowrap;
}

.heading::before,
.heading::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 40px;
  background-color: white;
}

.heading::before {
  right: calc(100% + 15px);
}

.heading::after {
  left: calc(100% + 15px);
}

.swiperWrapper {
  width: 100%;
  /* max-width: 800px; */
  position: relative;
  padding-bottom: 30px;
}

.categorySwiper {
  width: 100%;
  margin-bottom: 15px;
  overflow: visible;

}

.categorySlide {
  display: flex;
  justify-content: center;
}

.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 16px;
}

.categoryImageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 16px;
  border: 2px solid #aa0000;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.categoryIcon {
  width: 100%;
  max-width: 180px;
  object-fit: contain;
}

.categoryTitle {
  color: #22252A;
  font-size: 1rem;
  font-weight: 600;
  margin: 5px 0 0;
  text-align: center;
  white-space: nowrap;
}

.customScrollbar {
  height: 8px;
  width: 50% !important;
  margin: auto;
  background-color: rgba(17, 24, 32, 0.5);
  border-radius: 4px;
  position: relative;
  margin-top: 15px;
  
}

/* Style for the scrollbar thumb */
:global(.swiper-scrollbar-drag) {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.shopNowContainer {
  margin-top: 20px;
}

.shopNowButton {
  display: inline-block;
  background-color: #333;
  color: white;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.shopNowButton:hover {
  background-color: #444;
  color: white;
}

/* Make sure swiper styles are properly available */
:global(.swiper-scrollbar) {
  position: static !important;
  background: rgba(255, 255, 255, 0.2) !important;
}

@media (max-width: 767px) {
  /* .iconContainer {
    width: 70px;
    height: 70px;
  }

  .categoryIcon {
    width: 40px;
    height: 40px;
  } */

  .heading::before,
  .heading::after {
    width: 20px;
  }

  .heading {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  /* .iconContainer {
    width: 60px;
    height: 60px;
  }

  .categoryIcon {
    width: 35px;
    height: 35px;
  } */
}
