/* Delete Bootstrap styles */
:global(.nav-link):focus-visible {
  box-shadow: var(--prim-color);
}
.navbar {
  background: #22252a;
  background: linear-gradient(
    60deg,
    rgba(34, 37, 42, 1) 30%,
    var(--prim-color) 30%,
    var(--prim-color) 100%
  );
}

.list-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.list-links a {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  width: fit-content;
  border-radius: 5px;
  margin: auto;
  /* padding: 10px; */
  transition-property: background-color, color;
  transition-duration: 0.3s;
}
.list-links a.selected {
  color: var(--prim-color) !important;
  background-color: #f1f1f1 !important;
}
.list-links a:focus-visible {
  box-shadow: none;
}
.list-links a:hover {
  color: var(--prim-color) !important;
  background-color: #f1f1f1 !important;
}
/* Cart */
a.cart {
  background-color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 50%;
  color: #fff;
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.cart:hover {
  background-color: var(--prim-color);
  color: #fff;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}
a.cart:hover {
  color: #fff !important;
  background-color: transparent !important;
}
.cartCount {
  position: absolute;
  top: -7px;
  left: -7px;
  background-color: #0e3344;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* Login & Register */
.loginBtn {
  background-color: transparent;
  color: var(--prim-color);
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-left: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.registerBtn {
  color: var(--prim-color) !important;
  background-color: white;
  border: 1px solid var(--prim-color) !important;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
}

.list-links .registerBtn:hover {
  background-color: var(--prim-color) !important;
  color: white !important;
  border-color: white !important;
}
@media (max-width: 991px) {
  .list-links ul {
    width: 100%;
  }
}
